.contentBlog{
  margin-top: 20px;
  padding: 72px 1.5rem;
}

.blogcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}
.blogcontainer a{
  text-decoration: none;
  color: #04162e;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 30%;
  /* For a two-column layout on desktop */
  margin-bottom: 20px;

  overflow: hidden;
}


.card .userfaculity{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.userfaculity .oprerations{
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
}
.userfaculity .oprerations svg{
  cursor: pointer;
  transition: .3s all ease;
}
.userfaculity .oprerations svg:hover{
  border-radius: 50%;
  transform: translateY(-5px);
  /* padding: 3px 3px; */
  background-color: #cccccc79;
}
.userfaculity .oprerations svg:nth-child(2){
  color: red;
}


.card p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;

  
  transition: .3s all ease;

}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;

  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 6px;

}

.card:hover p{
  opacity: .6;
}


@media (max-width: 768px) {
  .contentBlog{
    margin-top: 72px;
  }
  .blogcontainer {
    flex-direction: column;
    /* Switch to a single column layout on mobile */

  }

  .card {
    width: 100%;
    /* Full width on mobile */
    padding: 10px;
    margin-bottom: 10px;
  }

  .card img {
    max-width: unset;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}